*{
        box-sizing: border-box;
}
body{
        background: url(../images/darkness.png);
        margin: 0;
        padding: 0;
}
.envelope{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 50px;
}
/*********************
        Header
**********************/
header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;
        background-color: white;
        border-bottom: #cccccc 1px solid;
        width: 100%;
}
.logo{
        background-color: #cccccc;
        height: 100%;
        padding: 0 10px;
        display: flex;
        justify-content: center;
        align-items: center;
}
h1{
        margin: 0;
        text-align: center;
        display: flex;
        align-items: center;
}

h1 a{
        color: black;
        font-size: 28px;
        font-family: 'Lato', sans-serif;
        font-weight: 900;
        text-decoration: none;
}

.nav{
        text-align: center;
        padding: 0 10px;
}

ul{
        list-style-type: none ;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
}
.v-bar{
        padding-right:5px;
        border-right: solid 1px black;
        margin-right: 5px;
}
li a{
        text-decoration: none;
        color: black;
        font-family: 'Roboto', sans-serif;
        font-weight: 200;
}
li a:hover{
        
        color: black;
        font-size: 25px;
        font-weight: 500;
}

/*********************
        Footer
**********************/
footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        border-top: solid #cccccc 8px;
        width: 100%;
        height: 50px;
        padding: 10px;
}
.footer-content{
        padding: 5 20px;
        display: flex;
        justify-content: center;
        align-items: center;  
        height: 100%;
}

.footer-content p{
        text-align: center;
        color: black;
        font-family: 'Roboto', sans-serif;
        font-weight: 200;
}
.footer-content p a{
        text-decoration: none;
        color: black;
        font-family: 'Roboto', sans-serif;
        font-weight: 200;
}
.footer-content  a:hover{
        color: black;
        font-size: 25px;
        font-weight: 500;
}

/*********************
        About me
**********************/
main{
        min-height: calc(100vh - 150px);
        background-color: white;
        border: solid 1px #cccccc;
        margin: 20px auto;
        max-width: 960px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px 0;
        border-radius: 5px;
        border: solid 1px #777777;
}

h2{
        color: black;
        font-size: 24px;
        font-family: 'Lato', sans-serif;
        font-weight: 900;
        /* padding: 0 20px; */
}
hr{
        border: 1px solid black ;
        border-radius: 100%;
        width: 100%;
        margin-bottom: 20px;
}
#profile-pic{
        width: 250px;
        height: 250px;
        margin: 20px auto;
        border-radius: 100%;
        border: black 1px solid;
}
#about-me-content {
        margin: 40px auto;
        width: 75%;     
}
#about-me-content p{
        color: black;
        font-family: 'Lato', sans-serif;
        font-weight: 900;
        line-height: 1.8;
        text-align: center;
        
}
/*********************
        contact
**********************/
#contact-content{
        display: flex;
        flex-flow: column wrap;
        width: 90%;
        margin: 20px auto;
}
label{
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        color: black;
}

input{
        margin: 10px 0;
        height: 25px;
        font-family: 'Roboto', sans-serif;
        font-weight: 200;
        padding: 0 10px;
        height: 40px;
}
textarea{
        margin: 10px 0;
        font-family: 'Roboto', sans-serif;
        font-weight: 200;
        padding: 0 10px;
}
button{
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        color: black;
        width: 80px;
        height: 30px;
}
/* ********************
        Portfolio
**********************/

#portfolio-content{
        width: 700px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        margin: 0 auto;
}

.project-box{ 
        margin: 10px ;
        position: relative;
}

.portfolio-image{
        width: 300px;
        height: 200px;
        border-radius:5px;
        border: black 1px solid;
}

h3{
        background-color: #cccccc;
        height: 40px;
        width: 300px;
        position: absolute;
        bottom: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
        font-family: 'Roboto', sans-serif;
        font-weight: 200;
        border: black 1px solid;

}

.project-box a{
        text-decoration: none;    
}
.project-box h3:hover{
        height: 50px;
        color: black;
        font-size: 25px;
        font-weight: 500;
}

@media only screen and (max-width: 720px){
#portfolio-content {
        width: 50%;
        }
}